@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Sansita:wght@400;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sansita", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.navigation {
  display: flex;
  height: 8em;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.75em;
  background: #735751;
  background: #000000;
  font-size: 1.25em;
  color: #ffff;
}
.navigation h2 {
  font-weight: 700;
  font-size: 3em;
}
.navigation a {
  color: #ffff;
  text-transform: uppercase;
}
.navigation .active {
  background: #ffffff;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 0.3rem;
}
.navigation .active a {
  color: #000000;
}

.links {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
}

.paths {
  display: flex;
  gap: 2em;
  margin-left: 2em;
}
.toggle {
  display: none;
}

@media screen and (max-width: 800px) {
  .paths {
    display: none;
  }
  .toggle {
    display: inline-flex;
    font-size: 2em;
    background: inherit;
    border: transparent;
    color: inherit;
  }
}

.sidebar-wrapper {
  position: fixed;
  top: calc(100%-5em);
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s linear;
  transform: scale(0);
  background: rgba(133, 132, 132, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}

.sidebar {
  background: #ffffff;
  width: fit-content;
  /* height: 95vh; */
  /* max-width: 620px; */
  /* border-radius: 0.25rem; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* position: relative; */
  padding: 4rem 1rem;
}
.sidebar a {
  color: #030202;
  font-size: 1.5em;
  text-transform: uppercase;
}
.sidebar li {
  margin: 2em 0;
  margin-right: 3em;
}
.sidebar .active {
  background: #000000;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 0.3rem;
}
.sidebar .active a {
  color: #ffffff;
}
.sidebar .count {
  border-radius: 3em;
  padding: 1px 2px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 0.5em;
  background: #000000;
}
.sidebar .active .count {
  color: #000000;
  background: #ffffff;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper.show {
    visibility: hidden;
  }
}

.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  margin: 3em;
  text-align: center;
  text-transform: capitalize;
}

/* .btn-primary  */
.btn {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffff;
  border: 2px solid #000;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: #000;
  border-radius: 0.25rem;
  display: inline-block;
  margin: 1em;
}

.page-btn-container {
  /* background: #5a5656; */
  margin: 1em;
  padding: 0.5em;
}
.page-btn {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffff;
  /* border: 2px solid #000; */
  padding: 0.25rem;
  /* display: inline-block; */
  transition: all 0.3s linear;
  cursor: pointer;
  /* font-size: 0.8rem; */
  background-color: #000;
  border-radius: 0.25rem;
  /* display: inline-block; */
  margin: 0.25em 0.5em;
}
.current-btn {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #ffff;
  /* border: 2px solid #000; */
  padding: 0.25rem;
  /* display: inline-block; */
  transition: all 0.3s linear;
  cursor: pointer;
  /* font-size: 0.8rem; */
  color: #000;
  border-radius: 0.25rem;
  /* display: inline-block; */
  margin: 0.25em 0.5em;
  font-weight: 900;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  /* justify-content: space-around; */
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  background: #858484;
}
.header h1 {
  font-size: 2em;
  font-weight: 900;
  margin-left: 1.5em;
}
.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  /* margin-left: auto; */
  /* margin-right: 40%; */
}
.input input {
  margin-left: 5px;
  border: none;
  border-color: #646161;
  background: #000;
  color: #ffffff;
  font-size: 0.75em;
  /* width: 18em; */
  outline: none;
  padding: 0.75em;
  border-radius: 7px;
}

.lds-roller {
  /* display: inline-block; */
  position: relative;
  /* width: 80px; */
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  /* background: #000; */
  /* height: 80px; */
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  /* background: #fff; */
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background: #e6e4e4;
}
.single-manga-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em;
  padding: 1em;
  /* background: #ccc4c4; */
  /* height: fit-content; */
}
.single-manga {
  position: relative;
  display: flex;
  gap: 3em;
  border-radius: 0.4em;
  padding: 1em;
  background: #ccc4c4;
  /* height: fit-content; */
  word-wrap: break-word;
}
.single-manga .bookmark {
  position: absolute;
  color: #ffff;
  font-size: 2em;
  border-radius: 0.4em;
  background: #000;
  width: fit-content;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1000px) {
  .single-manga-container {
    flex-direction: row;
  }
  .single-manga {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .single-manga img {
    max-width: 70%;
  }
}

.recommended-manga-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  gap: 1em;
  /* margin: 1em; */
}
.recommended-manga {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ccc4c4;
  border-radius: 0.4em;
  padding: 0.5em;
  gap: 0.5em;
  word-wrap: break-word;
}
@media screen and (max-width: 1500px) {
  .recommended-manga-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 1300px) {
  .recommended-manga-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1100px) {
  .recommended-manga-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .recommended-manga-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .recommended-manga-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* @media screen and (max-width: 500px) {
  .recommended-manga-container {
    grid-template-columns: repeat(1, 1fr);
  }
} */

.manga-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em;
}
.title {
  margin-left: 1em;
  font-weight: 900;
  font-size: 2em;
}
.manga {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ccc4c4;
  border-radius: 0.4em;
  padding: 0.5em;
  word-wrap: break-word;
}
.bookmark {
  position: absolute;
  color: #ffff;
  font-size: 2em;
  border-radius: 0.4em;
  background: #000;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1500px) {
  .manga-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 1300px) {
  .manga-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1100px) {
  .manga-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .manga-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .manga-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .manga-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.manga h4 {
  margin: 0.2em;
}
span {
  font-family: "Overpass", sans-serif;
  /* font-style: italic; */
}
.read-btn {
  align-self: flex-end;
  margin-top: auto;
  text-transform: uppercase;
  /* letter-spacing: 0.3rem; */
  color: #ffff;
  border: 2px solid #000;
  padding: 0.45rem 0.8rem;
  /* display: inline-block; */
  /* transition: all 0.3s linear; */
  cursor: pointer;
  /* font-size: 0.8rem; */
  background-color: #000;
  border-radius: 0.25rem;
  /* display: inline-block; */
  /* margin: 1em; */
}
.more-btn {
  align-self: flex-start;
  margin-top: auto;
  text-transform: uppercase;
  /* letter-spacing: 0.3rem; */
  color: #ffff;
  border: 1px solid #fffefe;
  padding: 0.25rem;
  /* display: inline-block; */
  /* transition: all 0.3s linear; */
  cursor: pointer;
  /* font-size: 0.8rem; */
  background-color: #000;
  border-radius: 0.25rem;
  /* display: inline-block; */
  /* margin: 1em; */
}
